{% extends 'base.html.twig' %}


{% block body %}
    {% for user in users %}
        <p>{{ user.username }} <a href="{{ path('user_profile', {id: user.id}) }}">Voir le profil</a></p>
        {% for post in user.posts %}

            {% set nbComments = 0 %}
            {% for commentCount in commentsCount %}
                {% if commentCount['post_id'] == post.id %}
                    {% set nbComments = commentCount['nb_comments'] %}
                {% endif %}
            {% endfor %}

            <p><a href="{{ path('post_show', {id: post.id}) }}">{{ post.title }}</a> ({{ nbComments }} commentaires)</p>
        {% endfor %}
    {% endfor %}
{% endblock %}